DATABASE_URL="postgresql://admin:password@localhost:5432/case_db?schema=logging"
PORT=3002
NODE_ENV=development
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=logging-service
KAFKA_TOPIC_AREA_TRANSITIONS=area-transitions
KAFKA_CONSUMER_GROUP_ID=logging-service
